[submodule "CoreLocationUtils"]
	path = CoreLocationUtils
	url = https://github.com/100grams/CoreLocationUtils.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "SIAlertView"]
	path = SIAlertView
	url = https://github.com/Sumi-Interactive/SIAlertView.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
